@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk</h1>
    <p>MegaDesk is a fictitious, small company that makes custom desks to order within a given parameter and constraint set. Everyone at MegaDesk takes orders, builds quotes, provides direct customer service, and builds desks.</p>
    <img src="./desk.jpeg" alt="Desk Image" class="img-fluid" style="width: 320px; height: 300px; margin: 0 auto;">
</div>

<footer>
</footer>

